name: Push Event Workflow

on: push 

jobs:
  unit-testing:
    runs-on: ubuntu-latest 
    
    steps:
    - name : Checkout code
      uses : actions/checkout@v4
      
    - name : Install Packages 
      run : pip install numpy
    - run : pip install scipy
    - run : pip install qutip
    - run : pip install joblib
    - run : pip install matplotlib
    - run : pip install scikit-learn
      
    - name : Run tests 
      run : python -m  unittest discover -v